# --------------------------------
# Flutter/Dart/Pub related
# --------------------------------
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# --------------------------------
# Android related
# --------------------------------
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/local.properties
**/android/.idea/

# --------------------------------
# iOS related
# --------------------------------
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/.symlinks/
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Flutter/App.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/*.xcframework
**/ios/.generated/

# --------------------------------
# macOS related
# --------------------------------
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Runner.xcworkspace/
**/macos/.symlinks/
**/macos/.generated/

# --------------------------------
# Web related
# --------------------------------
**/web/.dart_tool/

# --------------------------------
# Linux related
# --------------------------------
**/linux/Flutter/ephemeral/
**/linux/.generated/

# --------------------------------
# Windows related
# --------------------------------
**/windows/Flutter/ephemeral/
**/windows/.generated/

# --------------------------------
# VS Code and IntelliJ
# --------------------------------
.vscode/
.idea/
*.iml
*.ipr
*.iws

# --------------------------------
# Xcode
# --------------------------------
xcuserdata/
DerivedData/
*.xcuserstate
*.xcworkspace

# --------------------------------
# Miscellaneous
# --------------------------------
*.log
*.lock
*.tmp
*.swp
*.DS_Store
*.bak
*.old
